<div class="row">
  <div class="col-md-12">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3><%= @dashboard.total_score %></h3>

        <p><%= t('.title') %></p>
      </div>
      <div class="icon">
        <i class="fa fa-trophy"></i>
      </div>
      <%= link_to predictions_path, class: 'small-box-footer' do %>
        <%= t('.score_link') %> <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>
