.team-flag
  width: 30px
  height: 20px

.team-score
  float: right

.game-teams
  position: relative
  display: block
  width: 100%
  .home-team, .away-team
    margin: 5px 0

.game-prediction-score, .game-score
  width: 40px
  text-align: center
  border-radius: 8px
  font-size: 18px
  display: inline-block
  &.game-penalty
    width: 35px
    border-radius: 50px
    font-size: 13px

.predictions-table-score
  width: 55px
  font-size: 15px
