.m-l-none
  margin-left: 0
.m-l-sm
  margin-left: 5px
.m-l-md
  margin-left: 10px
.m-l-lg
  margin-left: 15px
.m-r-none
  margin-right: 0
.m-r-sm
  margin-right: 5px
.m-r-md
  margin-right: 10px
.m-r-lg
  margin-right: 15px
.m-t-none
  margin-top: 0
.m-t-sm
  margin-top: 5px
.m-t-md
  margin-top: 10px
.m-t-lg
  margin-top: 15px
.m-b-none
  margin-bottom: 0
.m-b-sm
  margin-bottom: 5px
.m-b-md
  margin-bottom: 10px
.m-b-lg
  margin-bottom: 15px
