.team-flag
  width: 30px
  height: 20px

.team-flag-icon
  width: 15px
  height: 10px

.match-table
  tbody > tr > td
    vertical-align: middle
    font-size: 15px
  td.match-code
    width: 100px
    i
      &.group_a, &.group_b, &.group_c, &.group_d, &.group_e, &.group_f, &.group_g, &.group_h
        color: #bcbcbc
      &.round_16
        color: #1064b7
      &.round_8
        color: #0c7f21
      &.round_4
        color: #e54242
      &.round_2_loser
        color: #b2815c
      &.round_2
        color: #daa520
  td.match-date
    width: 100px
  td.match-stadium
    width: 200px
  td.match-team
    &.match-home-team
      text-align: left
      .team-flag
        margin-right: 10px
    &.match-away-team
      text-align: right
      .team-flag
        margin-left: 10px
  td.match-score
    text-align: center
    font-size: 20px
    &.match-score-input
      width: 1px
  td.match-actions
    width: 30px
    text-align: center
  td.match-details-actions
    width: 100px
